<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0/EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
			
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>
	
 
	 <typeAliases>
		<typeAlias alias="mVO" type="com.travel.www.vo.MemberVO"/>
		<typeAlias alias="sVO" type="com.travel.www.vo.ScheduleVO"/>
		<typeAlias alias="saVO" type="com.travel.www.vo.ScheduleAnswerVO"/>
		<typeAlias alias="sdeVO" type="com.travel.www.vo.ScheduleDetailVO"/>
		<typeAlias alias="sdiVO" type="com.travel.www.vo.ScheduleDiningVO"/>
		<typeAlias alias="fVO" type="com.travel.www.vo.FileVO"/>
	</typeAliases> 
	
	
 	<mappers>
		<mapper resource="com/travel/www/sql/MemberSQL.xml"/>
		<mapper resource="com/travel/www/sql/ScheduleSQL.xml"/>
	</mappers>
	
	
</configuration>