<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0/EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
			
<configuration>
 
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>
	
 
	 <typeAliases>
		<typeAlias alias="mVO" type="com.travel.www.vo.MemberVO"/>
		<typeAlias alias="sVO" type="com.travel.www.vo.ScheduleVO"/>
		<typeAlias alias="QnABoardVO" type="com.travel.www.vo.QnABoardVO"/>
		<typeAlias alias="soVO" type="com.travel.www.vo.ScheduleOrderVO"/>
		<typeAlias alias="siVO" type="com.travel.www.vo.ScheduleImgVO"/>
	</typeAliases> 
	
	 
 	<mappers>
		<mapper resource="com/travel/www/sql/MemberSQL.xml"/>
		<mapper resource="com/travel/www/sql/ScheduleSQL.xml"/>
		<mapper resource="com/travel/www/sql/ScheduleDetailSQL.xml"/>
		<mapper resource="com/travel/www/sql/QnABoardSQL.xml"/>
		<mapper resource="com/travel/www/sql/ScheduleMakerSQL.xml"/>
	</mappers>
	
	
</configuration>